@model TvMaze

<div class="card" style="margin: 20px 10px; border: 1px solid #ddd; border-radius: 5px; overflow: hidden;" data-show='@Html.Raw(Json.Encode(Model.show))'>
    <a href="@(Model.show?.url)" target="_blank">
        <img src="@(Model.show?.image?.medium ?? "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTar_ouGael5ODlrC1kbFbKLpEPSJtTQqdaIg&s")" alt="@(Model.show?.name ?? "No name")" style="width: 100%; height: auto;">
    </a>
    <h3 class="card-title text-center" style="font-size: 1.25rem; margin-bottom: 10px;">@(Model.show?.name ?? "No name")</h3>
    <div class="card-body" style="padding: 15px; display:flex;justify-content:space-evenly;align-items:center;">
        <p class="card-text" style="font-size: 0.875rem; color: #555;">
            <strong>Language:</strong> @(Model.show?.language ?? "N/A")<br>
            <strong>Genres:</strong>
            @if (Model.show?.genres != null && Model.show.genres.Count > 0)
            {
                foreach (var genre in Model.show.genres)
                {
                    <span class="badge badge-primary" style="margin-right: 5px;">@genre</span>
                }
            }
            else
            {
                <span>N/A</span>
            }
            <br>
            <strong>Runtime:</strong> @(Model.show?.runtime.HasValue ?? false ? Model.show.runtime.Value.ToString() + " mins" : "N/A")<br>
            <strong>Rating:</strong> @(Model.show?.rating?.average.HasValue ?? false ? Model.show.rating.average.Value.ToString() : "N/A")
        </p>
        <button class="btn btn-success make-product">Make it a Product</button>
    </div>
</div>
