@model List<JObjectMapped>

@{
    ViewBag.Title = "Generic API";
    ViewBag.PageCaption = "Products";

    bool hasProducts = Model != null && Model.Count > 0;

    string namePath = Model[0].MappedResponse.Name.EntityName;
    string pricePath = Model[0].MappedResponse.Price.EntityName;
    string descriptionPath = Model[0].MappedResponse.Description.EntityName;
    string imagePath = Model[0].MappedResponse.Image.EntityName;
}

<div class="wrapper wrapper-content animated fadeInRight" id="containerId">
    <div class="ibox float-e-margins py-3">
        <div class="ibox-title">
            <h5>List of Products</h5>
        </div>
        <div class="ibox-content">
            @if (hasProducts)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                        
                            <th>Price</th>
                        >
                            <th>Description</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {


                            string name = product.JsonObject.SelectToken(namePath)?.ToString() ?? "No name";
                            string price = product.JsonObject.SelectToken(pricePath)?.ToString() ?? "No price";
                            string description = product.JsonObject.SelectToken(descriptionPath)?.ToString() ?? "No description";
                            string image = product.JsonObject.SelectToken(imagePath)?.ToString() ?? "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTar_ouGael5ODlrC1kbFbKLpEPSJtTQqdaIg&s";

                            <tr>
                                <td>@(name)</td>
                            
                                <td>@(price)</td>
                             
                                <td>@(description)</td>
                                <td><img src="@(image)" style="width: 100px; height: 100px;"></td>
                                <td>
                                    <button class="btn btn-success make-product" data-toggle="modal" data-target="#addProductModal"
                                            data-name="@name" data-sku="SKU Placeholder" data-price="@price" data-cost="Cost Placeholder"
                                            data-unit="Unit Placeholder" data-category="Category Placeholder" data-description="@description" data-image="@image">
                                        Make it a Product
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div style="display: flex; justify-content: space-around; align-content: center; align-items: center; margin-top: 30px;">
                    <p>No Results found</p>
                </div>
            }
        </div>
    </div>
</div>

@Html.Partial("~/Plugins/TPIPlugin/Views/_AddProductModal.cshtml")

@section Scripts {
    <script>
        $(document).ready(function () {
            $(document).on('click', '.make-product', function () {
                var name = $(this).data('name');
                var sku = $(this).data('sku');
                var price = $(this).data('price');
                var cost = $(this).data('cost');
                var unit = $(this).data('unit');
                var category = $(this).data('category');
                var description = $(this).data('description');
                var image = $(this).data('image');

                $('#productName').val(name);
                $('#productSku').val(sku);
                $('#price').val(price);
                $('#cost').val(cost);
                $('#unit').val(unit);
                $('#category').val(category);
                $('#description').val(description);
                $('#imageUrl').val(image);

                var isChecked = $('#flexCheckChecked').is(':checked');
                if (isChecked) {
                    $('#category').val($('#query').val());
                } else {
                    $('#category').val(category);
                }
                $('#addProductModal').modal('show');
            });
        });

        function onProductAdded() {
            $("#addProductModal").modal('hide');
            toastr.success("Converted into a product!");
        }
    </script>
}